/* Colores */
$primary-color: #029ee6;
$secondary-color: #dee0e0;
$background-color: #000;
$text-color: #FFF;

/* Tipografía */
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";
$heading-font: 'Georgia', serif;

/* Breakpoints */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

/* Espaciado */
$spacing-unit: 1rem;

$theme-colors: (
 "primary": #029ee6 // pon el código de color que prefieras
);
