@layer layouts {
    .footer {
      padding: $spacing-unit;
      color: white;
      background: #494a4a;
      margin-top: 2em;
  
      &__name__text {
        font-size: 0.875rem;
      }

      &__social__list__item {
        display: inline;
        padding: 0 .5em;
        
        a {
          text-decoration: none !important;
          color: #FFF !important;

        }
      }
    }
  }
  