<footer>
    <div class="row">
        <div class="col-md-8">
        <p>SecureWeek: Jornadas de seguridad informática</p>
        </div>
        <div class="col-md-4">
            <h4>Síguenos</h4>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-light"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li class="list-inline-item"> <a href="#" class="text-light"><i class="fa-brands fa-x-twitter"></i> Twitter</a></li>
                <li class="list-inline-item"><a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
            </ul>
        </div>
    </div>
</footer>