<footer class="footerSec">
    <div class="row">
        <div class="footerSec__name col-md-8">
        <p class="footerSec__name_text">SecureWeek: Jornadas de seguridad informática</p>
        </div>
        <div class="footerSec__social col-md-4">
            <h4 class="footerSec__social__title">Síguenos</h4>
            <ul class="footerSec__social__list list-inline">
                <li class="list-inline-item"><a href="#" class="text-light"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li class="list-inline-item"> <a href="#" class="text-light"><i class="fa-brands fa-x-twitter"></i> Twitter</a></li>
                <li class="list-inline-item"><a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
            </ul>
        </div>
    </div>
</footer>